<!DOCTYPE html>
<html>
<head>
    <title>Information Form</title>
</head>
<body>

<h2>Enter Student Information</h2>

<form method="POST">

    <input
        type="text"
        name="name"
        placeholder="Enter Student Name">

    <br>
    <input
        type="number"
        name="age"
        placeholder="Enter Student Age">
    <br>
    <input
        type="text"
        name="course"
        placeholder="Enter the Course of Student">
    <br>
    <button type="submit">
        Submit
    </button>

</form>

</body>
</html>